*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

#title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vh 30vh 5vh 30vh;
    background-color: forestgreen;
    width: 100%;
}

#and{
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

#title div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50% 20% / 20% 40%;
    padding: 2% 2%;
}

#titleTent{
    color: orange;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

#titleTree{
    color: forestgreen;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

#title i{
    font-size: 3em;
    margin: 0 0 0 20px;
}

h1{
    font-size: 3em;
    margin: 0 20px;
}

#page{
    display: flex;
    height: 500px;
    justify-content: space-around;
    align-items: center;
}

#option{
    width: 40%;
    height: 75%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    margin-top: 4%;
}

#option p{
    height: 100%;
    width: 57%;
    margin: 5% 0 0 5%;
    background-color: rgb(255, 165, 0, 0.1);
    color: black;
    padding: 15px;
    border: 3px solid black;
    font-size: 1.2em;
    text-align: justify;
    text-justify:inter-word;
    transition: 2s .2s;
    z-index: -1;
}

#option p.invisible{
    transform: translateY(-100%);
}

#option p:not(.invisible){
    transform: translateY(0%);
}

#option button{
    border: 3px solid black;
    width: 80px;
    height: 80px;
    margin: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    color: white;
    background-color: orange;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

#endPage button{
    border: 3px solid white;
    width: 80px;
    height: 80px;
    margin: 15px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    color: white;
    background-color: orange;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

#info{
    margin-top: 50px;
}

#theGrid{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
}

#rowNumber{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    margin-left: 35%;
}

#rowNumber div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 66.4px;
    height: 66.4px;
    font-size: 2em;
}

#columnNumber{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#columnNumber div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 66.4px;
    height: 66.4px;
    font-size: 2em;
}

#rowNumber i, #columnNumber i{
    font-size: 0.3em;
    margin-left: 5px;
}

#grid{
    width : 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin-right: 10%;
}

.gridRows{
    width: 100%;
    height: 16.6%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.cell {
    width: 16.6%;
    height: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    background-color: white;
}

.tree{
    color: white;
    background-color: forestgreen;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.tent{
    font-size: 2.5em;
    color: orange;
    background-color: forestgreen;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
    /* transition: scale(2, 2); */
}

.grass{
    background-color: forestgreen;
}

i{
    pointer-events: none;
}

#endPage{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 29vh 0;
    padding: 7% 0;
    background-color: forestgreen;
    z-index: 2;
    width: 80%;
    position: absolute;
    transition: 1.5s;
}

#endPage.invisible{
    transform: translateY(100%);
}

#endPage:not(.invisible){
    transform: translateY(0%);
}

.invisible{
    opacity: 0;
}

h2{
    font-size: 4em;
    line-height: 1.5;
    margin-right: 100px;
    background-color: white;
    color: orange;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    border-radius: 50% 20% / 20% 40%;
    padding: 3% 10%;
}

.grey{
    color: grey;
}

.red{
    color: red;
}